.shop-info {
	height: 200px;
	border: 1px solid black;
}
.supporter {
	height: 300px;
	border: 1px solid black;
}
.name {
	font-size: 2rem;
}
.icon {
	width: 100px;
}
.introduce {
	padding: 5px;
	height: 200px;
	overflow:scroll;
}
.card-line	 {
	border-top: 1px solid lightgray;
}
.actions {
	margin-top: 10px;
}
.rank {
	font-size: 2rem;
}
.present-num {
	margin: 0 1rem;
	font-size: 1.5rem;
	font-weight: bold;
}

/*汎用*/
.clearLeft {
	clear: left;
}
.margin-top-10 {
	margin-top: 10px;
}
.text-align-center {
	text-align: center;
} 
.font-size-20 {
	font-size: 40px;
}