.shop-info {
	height: 200px;
	border: 1px solid black;
}
.supporter {
	height: 300px;
	border: 1px solid black;
}
.name {
	font-size: 2rem;
}
.icon {
	width: 100px;
}
.introduce {
	padding: 5px;
	height: 200px;
	overflow:scroll;
}
.card-line	 {
	border-top: 1px solid lightgray;
}
.actions {
	margin-top: 10px;
}
.rank {
	font-size: 2rem;
}
.present-num {
	margin: 0 1rem;
	font-size: 1.5rem;
	font-weight: bold;
}
.bubble {
	position: absolute;
	right: 0;
	top: 50px;
	width: 100px;
	height: 50px;
	line-height: 50px;
	background-image: url("../img/bubble.png");
	background-size:contain;
	background-repeat: no-repeat;
}

/*汎用*/
.clearLeft {
	clear: left;
}
.margin-top-10 {
	margin-top: 10px;
}
.text-align-center {
	text-align: center;
}
.font-size-40 {
	font-size: 40px;
}


.chart-btn {
	cursor: pointer;
}
.chart-area {
}
.chart-area .title {
	padding: 5px;
	background-color: #FFA500;
	color: #fff;
}
.chart-contents {
}
